.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top : 80px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #55a56a;
  /* background-color: #425529;  */
  cursor : pointer;
}

.App-link:hover {
  color : white;
}
/* .App-logo {
  animation: App-logo-spin 1s linear infinite;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loginButton{
    width: 200px !important;
    border-radius: 10px;
    background-color: #61fbda;
    font-weight: bold;
}

/*get access token ge refresh token 버튼 css*/

