<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <header>
        <nav>
            <a href='/'>Home</a> |
            <a href='/profile'>프로필</a> |
            <a href='/map'>찾아오시는 길</a> |
            <a href='/contact'>문의하기</a> |

        </nav>
    </header>
    <hr>
