<h1>Welcome to EJS, <%= name %>!</h1>
<%-include('header.ejs')%>

<ul>
    <li>이름: <%= name %></li>
    <li>이메일:awh424@DDOngmail.com</li>
    <li>주소 : 한강 뷰 아파트에 살고 싶더</li>
</ul>

<%-include('footer.ejs')%>


  